body{
    background-color: #f4f0f0;
    font-family: sans-serif;
}

.container{
    background-color:black ;
    font-family: sans-serif;
    padding: 2%;
    align-items: center;
    box-shadow: 2ch;
    color:white;
}
.footer{
    position: sticky;
    display: flexbox;
    background-color: black;
    color: rgb(106, 25, 106);
    padding: 2%;
    font-family: sans-serif;
   
    border-radius: 5px;
    align-items: center;
}
.footer1{
  
  background-image: linear-gradient(#7390f0,#ffffff);
  background-color: #f4dede;
  padding: 5px;
  box-shadow: 2px 2px #ffffff;
}

.footer:hover{
    background-color: yellow;
    display: flexbox;
    color: rgb(106, 25, 106);
    padding: 2%;
    font-family: sans-serif;
    border-radius: 5px;
    align-items: center;
}
.footer1:hover{
    background-image: linear-gradient(#73ecf0,#ffffff);
    background-color: #f4dede;
    padding: 5px;
    box-shadow: 2px 2px #ffffff;
}

a{
    color:rgb(12, 67, 230);
}
a:hover{
    color:#e90707de;
}
.nu{
    position:sticky;
    display:block;
    color: rgb(106, 25, 106);
    font-family: sans-serif;
    align-items: center;
    padding: 2%;
    background-color: black;
}
.nu1{
    padding: 2%;
    background-image: radial-gradient(rgb(0, 247, 255),rgb(0, 102, 255));
    background-color:black;
    box-shadow: 2px 2px black;
}
.nu1:hover{
    padding: 2%;
    background-image: radial-gradient(rgb(246, 255, 0),rgb(0, 255, 4));
    background-color:black;
    box-shadow: 2px 2px black;
    color:brown;
}
